
.hpu-post-search-control-results {

	.search-results {

		li.search-result {
			padding: 5px 10px;
			max-width: 280px;
			text-wrap: nowrap;
			cursor: pointer;

			&.selected {
				background-color: #f0f0f0;
				color: #9ea1a7;
			}
	
			&:hover:not( .selected ) {
				color: #007cba;
			}
		}
	}
}