
.hpu-post-search-control-results {

	.search-results {

		li.search-result {
			padding: 5px 10px;
			max-width: 280px;
			text-wrap: nowrap;
			cursor: pointer;

			&.selected {
				background-color: #f0f0f0;
				color: #9ea1a7;
			}
	
			&:hover {
				color: #007cba;
			}

			&:focus {
				box-shadow: 0 0 0 2px #007cba;
				outline: 3px solid #0000;
			}
		}
	}
}